<h1>Items</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Url</th>
    <th>Overview</th>
    <th>Detail</th>
    <th>Public</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.title %></td>
      <td><%= link_to item.url, item.url, target: "_blank" %></td>
      <td><%= item.overview %></td>
      <td><%= item.detail %></td>
      <td><%= item.public %></td>
      <td><%= link_to 'Show', item %></td>

      <% if current_user != nil %>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% else %>
        <td></td>
        <td></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<% if current_user != nil %>
  <%= link_to 'New Item', new_item_path %>
<% end %>