<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @item.url %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @item.overview %>
</p>

<p>
  <strong>Detail:</strong>
  <br />
  <%= @item.getDetailTextView %>
</p>

<p>
  <strong>Public:</strong>
  <%= @item.public %>
</p>

<% if current_user != nil %>
  <%= button_to '編集する', edit_item_path(@item), method: :get %>
<% end %>
<%= button_to 'HOMEへ', root_url, method: :get %>
