<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @item.url %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @item.overview %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @item.detail %>
</p>

<p>
  <strong>Public:</strong>
  <%= @item.public %>
</p>

<% if current_user != nil %>
  <%= link_to 'Edit', edit_item_path(@item) %> |
<% end %>
<%= link_to 'Back', root_url %>
